.git
.github
.env
.env.*
**/.env
**/.env.*
node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
.venv*
**/.venv*
__pycache__
**/__pycache__
.pytest_cache
.cache
.mypy_cache
.ruff_cache
coverage
htmlcov
*.log
*.tfstate
*.tfstate.*
.terraform
**/.terraform
docs
infrastructure
